<section class="container my-5">
    <h2 class="text-center mb-4">Características Principales</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Registro de Libros</h3>
            <p>Completa un formulario para agregar nuevos libros a tu biblioteca, incluyendo detalles como título,
                autor, ISBN, y más.</p>
        </div>
        <div class="col-md-6">
            <h3>Lista de Libros</h3>
            <p>Explora la colección actual de libros con detalles como título, autor, ISBN, y más.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Edición y Eliminación</h3>
            <p>Edita los detalles de los libros existentes y elimina libros de la biblioteca según sea necesario.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Diseño Responsivo</h3>
            <p>Disfruta de una interfaz fácil de usar en dispositivos de diferentes tamaños gracias al diseño
                responsivo.</p>
        </div>
    </div>

</section>

<section class="bg-light py-5">
    <div class="container text-center">
        <h2 class="mb-4">Tecnologías Utilizadas</h2>
        <p>Esta aplicación ha sido desarrollada utilizando las siguientes tecnologías:</p>
        <ul class="list-unstyled">
            <li>Flask (Backend)</li>
            <li>HTML, CSS, Bootstrap (Frontend)</li>
            <li>jQuery, AJAX (Interactividad)</li>
        </ul>
    </div>
</section>