<div class="container text-center feature cuenta">
    <div class="row">
        <h1>Libros en el Servidor</h1>
        <button id="ver-libros-btn" class="btn btn-primary">Recargar Lista de Libros</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Género</th>
                    <th scope="col">Sinopsis</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="libros-table">
                <!-- Las filas de la tabla se generarán dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
</div>